<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:ss:ss,SSS} %highlight{%level %location: %n%msg%n}"/>
        </Console>
        <File name="MyFile" fileName="E:/log/app.log">
            <PatternLayout pattern="%d{HH:ss:ss,SSS} %level %location: %n%msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="MyFile"/>
        </Root>
    </Loggers>
</Configuration>